@page "/versionauthenticated"
@using ProjectX.Api
@attribute [Authorize]

@inject Services.IVersionService VersionService

<h1>Version Authenticated</h1>

@if (version == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>@version</div>
}

@code
{
    public ApiVersion version;

    protected override async Task OnInitializedAsync()
    {
       version = await VersionService.GetAuthenticatedAsync();
    }
}