@page "/version"

@using ProjectX.Api.Abstractions
@using System.Text.Json

<h1>Version</h1>

@if (version == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>@version</div>
}

@code
{
    private HttpClient httpClient;
    public ApiVersion version;

    public Index()
    {
        httpClient = new HttpClient();
        httpClient.BaseAddress = new Uri("https://localhost:1001/api/");
    }

    protected override async Task OnInitializedAsync()
    {
        var response = await httpClient.GetAsync("version");

        response.EnsureSuccessStatusCode();

        using var responseStream = await response.Content.ReadAsStreamAsync();
        version = await JsonSerializer.DeserializeAsync<ApiVersion>(responseStream);
    }
}