@page "/version"

@using ProjectX.Api.Abstractions

<h1>Version</h1>

@if (version == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>@version</div>
}

@code
{
    private HttpClient httpClient;
    public ApiVersion version;

    public Index()
    {
        httpClient = new HttpClient();
        httpClient.BaseAddress = new Uri("https://localhost:1002/api/");
    }

    protected override async Task OnInitializedAsync()
    {
        version = await httpClient.GetFromJsonAsync<ApiVersion>("version");
    }
}