@page "/version"

@using ProjectX.Api.Abstractions

@inject IHttpClientFactory ClientFactory

<h1>Version</h1>

@if (version == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>@version</div>
}

@code
{
    public ApiVersion version;

    protected override async Task OnInitializedAsync()
    {
        var httpClient = ClientFactory.CreateClient("HttpClientNoAuth");
        version = await httpClient.GetFromJsonAsync<ApiVersion>("version");
    }
}