@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <div class="btn-group ml-auto">
            <button type="button" class="btn btn-primary">
                <i class="fa fa-user mr-2"></i>@context.User.Identity.Name
            </button>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="user"><i class="fa fa-user mr-2"></i>User Details</a>
                <a class="dropdown-item" href="#" @onclick="BeginSignOut"><i class="fa fa-sign-out mr-2"></i>Sign out</a>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <a class="btn btn-outline-light ml-auto" href="authentication/login">Sign in</a>
    </NotAuthorized>
</AuthorizeView>

@code
{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}