@inherits LayoutComponentBase

<nav class="navbar navbar-dark bg-primary p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">ProjectX.Blazor</a>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light">
            <div style="height: calc(100vh - 40px);">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Home
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="people">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> People
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="version">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Version
                        </NavLink>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-10">
            @Body
        </main>
    </div>
</div>