@inherits LayoutComponentBase

<div class="page">
    <header class="navbar navbar-dark bg-primary">
        <div class="d-flex w-100">
            <button class="btn btn-link d-sm-none" type="button" data-toggle="collapse" data-target="#left-menu" aria-controls="left-menu" aria-expanded="false" aria-label="Toggle navigation">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img" focusable="false">
                    <title>Menu</title>
                    <path stroke="white" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"></path>
                </svg>
            </button>
            <a class="navbar-brand" href="">ProjectX.Blazor</a>
            <LoginDisplay />
        </div>
        <nav class="collapse" id="left-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="" Match="NavLinkMatch.All">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="people">People</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="version">Version</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="versionauthenticated">Version (Auth)</NavLink>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row">
            <nav class="d-none d-sm-block col-sm-2">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="" Match="NavLinkMatch.All">Home</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="people">People</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="version">Version</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="versionauthenticated">Version (Auth)</NavLink>
                    </li>
                </ul>
            </nav>
            <main role="main" class="col-12 col-sm-10">
                @Body
            </main>
        </div>
    </div>

</div>