@page "/people"

@using ProjectX.Api.Abstractions

<h1>People</h1>

@if (people == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in people)
            {
                <tr>
                    <td><a href="/people/@person.Id">@person.Id</a></td>
                    <td>@person.FirstName</td>
                    <td>@person.LastName</td>
                </tr>
            }
        </tbody>
    </table>
}

@code
{
    private HttpClient httpClient;
    public ApiPerson[] people;

    public Index()
    {
        httpClient = new HttpClient();
        httpClient.BaseAddress = new Uri("http://localhost:1002/api/");
    }

    protected override async Task OnInitializedAsync()
    {
        people = await httpClient.GetFromJsonAsync<ApiPerson[]>("people");
    }
}