@page "/people/{Id:int}"

@using ProjectX.Api.Abstractions

@inject IHttpClientFactory ClientFactory

<h1>Person</h1>

@if (person == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <label for="personid" class="col-sm-2 col-form-label">Id</label>
        <div class="col-sm-10">
            <label readonly class="form-control-plaintext" id="personid">@person.Id</label>
        </div>
    </div>
    <div>
        <label for="personfirstname" class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-10">
            <label readonly class="form-control-plaintext" id="personfirstname">@person.FirstName</label>
        </div>
    </div>
    <div>
        <label for="personlastname" class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-10">
            <label readonly class="form-control-plaintext" id="personlastname">@person.LastName</label>
        </div>
    </div>
}

@code
{
    [Parameter]
    public int Id { get;set; }

    public ApiPerson person;

    protected override async Task OnInitializedAsync()
    {
        var httpClient = ClientFactory.CreateClient("ServerAPI.NoAuthenticationClient");
        person = await httpClient.GetFromJsonAsync<ApiPerson>($"people/{Id}");
    }
}